# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Environment files
.env
*.env
.env.*

# Temporary / Backup folders
BACKUP/
BACKUP/**

# Logs
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
